body{
    background-color: #2e2c2c;
    color: white;
    font-family: 'Times New Roman', Times, serif;
}
.titulo{
    align-items: center;
    justify-content: center;
    text-align: center;
    display: flex;
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #504e4e25;
    border-radius: 10px;
    padding: 10px;
    margin: 10px;

}
.lista{
    margin-top: 0;
}


.inp{
    margin: 10px;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 250px;
}

.btn{
    margin: 10px;
    padding: 5px;
    padding-left: 5px;
    padding-right: 5px;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
    background-color: green;
    border-radius: 5px;
    border-color: green;
}

.botones{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.tarea{
    display: flex;
    text-transform: capitalize;
    align-items: center;
    justify-content: space-between;
    gap: 5px;
    font-size: 1.10rem;
    width: 80% auto;
}

/* .btnX{
    color: white;
    background-color: red;
    border-radius: 5px;
    margin: 8px;
    border-color: red;
    font-size: 10px;
    right: 100%;
    text-align: center;
    justify-content: flex-end;
}
.btnM{
    color: white;
    background-color: rgb(29, 129, 187);
    border-radius: 5px;
    margin: 8px;
    border-color: rgb(29, 129, 187);
    font-size: 10px;
    margin-right: 2px;
    text-align: right;
    justify-content: flex-end;
    margin-left: 7.5rem;
}
 */
.btnX, .btnM {
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 10px;
    padding: 4px 8px;
    margin: 5px;
    cursor: pointer;
}

.btnX {
    background-color: red;
}

.btnM {
    background-color: rgb(29, 129, 187);
}

.acciones{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5rem;
}

.guardar, .borrar{
    border-radius: 5px;
    margin: 10px;
    border: none;
    align-items: center;
}